# Laravel
laravel/vendor/
laravel/node_modules/
laravel/.env
laravel/.env.backup
laravel/.phpunit.result.cache
laravel/storage/*.key
laravel/storage/logs/*
laravel/storage/framework/cache/*
laravel/storage/framework/sessions/*
laravel/storage/framework/views/*
laravel/bootstrap/cache/*

# Python
python-forecast/__pycache__/
python-forecast/*.pyc
python-forecast/.env
python-forecast/venv/

# Docker
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

